
.nav-ul {
  
  display:flex;
  padding: 6px;
  margin: 0px;
    background-color: skyblue;
    
    
}
.footer{
  background-color: skyblue;
    text-align: center;
  
    position: absolute;
    width: 100%;
    bottom: 0;
   
}

.nav-ul li a{
  
  text-decoration: none;
  color: white;

}

 .nav-ul .active{
  color: gold;
}
ul li a:hover{
  background-color: red;
  color: #fff;
}
.inputbox{
  padding: 7px;
  border-color: #61dafb;
  width: 300px;
  
}
.lg{

  padding: 10px;
  
  text-align: center;
  
  margin-top: 60px;
}
.logo{

  height: 40px;
  float: left;
  border-radius: 50%;


}
.lg1{
  justify-content: right;
}
.lg2{
  justify-content: right;
  margin-left: 85%;
  text-align: right;
}
.imgs{
  height: 510px;
  width: 1367px;
}
.err1{
  
  color: red;
  margin-top: -4px;
  margin-left: -730px;
  text-align: center;

  }
  .product-list{
    text-align: center;
    margin-top: 50px;
  }
  .product-list ul li{
    display: inline-block;
    border: 1px solid skyblue;
    padding: 10px;
    width: 150px;
  }
  .product-list ul{
    margin: 0px;
  }

.btn{
  padding: 10px;
  width: 120px;
  background-color: #61dafb;
  margin-left: 100px;
}
.one{
  margin-left: 500px;
  display: block;
  margin-top: 60px;
}
.three{
  margin-right: 820px;
    height: 20px;
    margin-bottom: 7px;
    border: 1px soli sky
}
.nav-ul li{
margin: 5px;
list-style: none;

}
NavLink{
  text-decoration: none;
}
#two{
  margin: 10px;
}
.inputbox{
  display: block;
  
  padding: 10px;
  margin: 10px;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
